<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Data.AppSession.BuzyUserAppSession"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_buzypc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_buzypc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuzyPC"
        tools:targetApi="31">
        <activity
            android:name=".UI.Navigation.Fragments.Settings.Archive.ArchiveListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Widget.LoadingScreenActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.Settings.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.BuildTracker.TrackedBuildChecklistActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.BuildList.BuyComponentActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.NewBuild.NewBuildSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.BuildList.BuildSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.BottomNavigationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UI.Widget.BuildCard"
            android:exported="false" />
        <activity
            android:name=".UI.Navigation.Fragments.Settings.AboutDevelopersActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Authentication.LogoutPromptActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Authentication.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".UI.Authentication.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimatedSplash.MySplash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Navigation.Fragments.Settings.ProfileViewActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>